<!DOCTYPE html>
<html>
  <head>
    <title>Arbito Wopi</title>
  </head>
  <body>
    <div>List of Files</div>

    <ol>
      <% list.forEach(function (file) { %>
        <li>
          <button class="load" data-id="<%= file.name %>" ><%= file.name %></button>
        </li>
        <% }) %>
      </ol>
      <div style="display: none;" id="form" >
        <form action="" enctype="multipart/form-data" method="post" target="online-viewer" id="submit-form">
          <input id="access_token" name="access_token" value="" type="hidden" />
          <input id="access_token_ttl" name="access_token_ttl" value="" type="hidden" />
          <label  for="user_id">User Name</label>
          <input name="user_id" id="user_id" value="test@arbito.com"    />
          <input name="file_id" id="file_id" value=""  type="hidden"  />
          <input name="owner_id" id="owner_id" value="operations@arbito.in" type="hidden"  />
          <input type="submit" id="submit" value="Submit"  />
        </form>
      </div>

    <iframe id="online-viewer" name="online-viewer" style="width:99%;height:90%;position:absolute;" title="Office Frame" allowfullscreen="true" sandbox="allow-scripts allow-same-origin allow-forms allow-popups allow-top-navigation allow-popups-to-escape-sandbox">
    </iframe>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">

      var locationOrigin = window.location.origin;
      var scheme = locationOrigin.startsWith('https') ? 'https' : 'http';
      
      $(".load").on("click", function(event) {
        $('#form').show();
        let id = event.target.dataset.id
        $(".load").attr('style', "")
        $(event.target).attr('style', "background-color: #00FF00;")
        $('#file_id').attr("value", id )
      });
      $("#submit").on("click", function(e) {
          let id = e.target.form["file_id"].value
          let query = {}
          let baseUrl = ""
          if (id.includes("docx")) {
            baseUrl = 'https://FFC-word-edit.officeapps.live.com/we/wordeditorframe.aspx'
            query = {
              ui: "en-US",
              rs: "en-US",
              dchat: 1,
              hid: 100,
              sc: 100,
              wopisrc: `https://testdomain2.arbito.in/wopi/files/${id}`,
              IsLicensedUser: 1,
              actnavid: 100,
              showpagestats: 0
            }
         } 
         if (id.includes("xlsx")) {
          baseUrl = 'https://FFC-excel.officeapps.live.com/x/_layouts/xlviewerinternal.aspx';
          query = {
            edit:1,
            ui: "en-US",
            rs: "en-US",
            dchat: 1,
            hid: 100,
            sc: 100,
            wopisrc: `https://testdomain2.arbito.in/wopi/files/${id}`,
            IsLicensedUser: 1,
            actnavid: 100
          }
         }
         if (id.includes("wopitest")) {
          baseUrl = 'https://FFC-onenote.officeapps.live.com/hosting/WopiTestFrame.aspx';
          query = {
            edit:1,
            ui: "en-US",
            rs: "en-US",
            dchat: 1,
            hid: 100,
            sc: 100,
            wopisrc: `https://testdomain2.arbito.in/wopi/files/${id}`,
            IsLicensedUser: 1,
            actnavid: 100
          }
         }

          
          const search = new URLSearchParams(query).toString();

          var wopiUrl = `${baseUrl}?${search}`
          
          $('#submit-form').attr('action', wopiUrl)
          $('#access_token').attr('value', `123_${e.target.form["user_id"].value}`);
          $('#access_token_ttl').attr('value', Date.now() + 100000000);
          $('#user_id').attr("value", e.target.form["user_id"].value )
          $('#submit-form').submit();
        });
      
      </script>    
  </body>
</html>